bin/
tmp/
agbalumo.db
agbalumo.db-*
test_*.db
test_*.db-*
*.db-shm
*.db-wal
ui/static/uploads/*
!ui/static/uploads/.gitkeep
.DS_Store
AWSCLIV2.pkg
run_dev.sh
.env
main
certs/
*.out
.idea/
.vscode/
# Node
node_modules/
server.log

/server
internal/handler/ui/static/uploads/
