{{ define "admin_pagination" }}
<div class="flex justify-between items-center px-8 py-6 border-t border-white/10 bg-black/10">
    {{ if gt .Page 1 }}
    <a href="{{ .BaseURL }}?page={{ sub .Page 1 }}{{ if .Category }}&category={{ .Category }}{{ end }}"
        class="px-6 py-2 border border-white/20 text-[10px] font-bold uppercase tracking-[0.2em] text-white hover:border-earth-ochre hover:text-earth-ochre transition-colors">
        Previous
    </a>
    {{ else }}
    <div
        class="px-6 py-2 border border-white/5 text-[10px] font-bold uppercase tracking-[0.2em] text-white/30 cursor-not-allowed">
        Previous
    </div>
    {{ end }}

    <div class="text-[10px] font-bold text-white/50 uppercase tracking-[0.2em]">Page {{ .Page }}</div>

    {{ if .HasNextPage }}
    <a href="{{ .BaseURL }}?page={{ add .Page 1 }}{{ if .Category }}&category={{ .Category }}{{ end }}"
        class="px-6 py-2 border border-white/20 text-[10px] font-bold uppercase tracking-[0.2em] text-white hover:border-earth-ochre hover:text-earth-ochre transition-colors">
        Next
    </a>
    {{ else }}
    <div
        class="px-6 py-2 border border-white/5 text-[10px] font-bold uppercase tracking-[0.2em] text-white/30 cursor-not-allowed">
        Next
    </div>
    {{ end }}
</div>
{{ end }}