{{ define "country_options" }}
<option value="" disabled {{ if not .Selected }}selected{{ end }} class="bg-earth-dark text-white">Select Country
</option>
<optgroup label="West Africa" class="bg-earth-dark text-white font-bold">
    <option value="Benin" {{ if eq .Selected "Benin" }}selected{{ end }} class="bg-earth-dark text-white font-normal">
        Benin 🇧🇯</option>
    <option value="Burkina Faso" {{ if eq .Selected "Burkina Faso" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Burkina Faso 🇧🇫</option>
    <option value="Cabo Verde" {{ if eq .Selected "Cabo Verde" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Cabo Verde 🇨🇻</option>
    <option value="Cote d'Ivoire" {{ if eq .Selected "Cote d'Ivoire" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Côte d'Ivoire 🇨🇮</option>
    <option value="Gambia" {{ if eq .Selected "Gambia" }}selected{{ end }} class="bg-earth-dark text-white font-normal">
        Gambia 🇬🇲</option>
    <option value="Ghana" {{ if eq .Selected "Ghana" }}selected{{ end }} class="bg-earth-dark text-white font-normal">
        Ghana 🇬🇭</option>
    <option value="Guinea" {{ if eq .Selected "Guinea" }}selected{{ end }} class="bg-earth-dark text-white font-normal">
        Guinea 🇬🇳</option>
    <option value="Guinea-Bissau" {{ if eq .Selected "Guinea-Bissau" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Guinea-Bissau 🇬🇼</option>
    <option value="Liberia" {{ if eq .Selected "Liberia" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Liberia 🇱🇷</option>
    <option value="Mali" {{ if eq .Selected "Mali" }}selected{{ end }} class="bg-earth-dark text-white font-normal">Mali
        🇲🇱</option>
    <option value="Mauritania" {{ if eq .Selected "Mauritania" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Mauritania 🇲🇷</option>
    <option value="Niger" {{ if eq .Selected "Niger" }}selected{{ end }} class="bg-earth-dark text-white font-normal">
        Niger 🇳🇪</option>
    <option value="Nigeria" {{ if or (eq .Selected "Nigeria" ) (not .Selected) }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Nigeria 🇳🇬</option>
    <option value="Senegal" {{ if eq .Selected "Senegal" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Senegal 🇸🇳</option>
    <option value="Sierra Leone" {{ if eq .Selected "Sierra Leone" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Sierra Leone 🇸🇱</option>
    <option value="Togo" {{ if eq .Selected "Togo" }}selected{{ end }} class="bg-earth-dark text-white font-normal">Togo
        🇹🇬</option>
</optgroup>
<optgroup label="North Africa" class="bg-earth-dark text-white font-bold">
    <option value="Algeria" {{ if eq .Selected "Algeria" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Algeria 🇩🇿</option>
    <option value="Egypt" {{ if eq .Selected "Egypt" }}selected{{ end }} class="bg-earth-dark text-white font-normal">
        Egypt 🇪🇬</option>
    <option value="Libya" {{ if eq .Selected "Libya" }}selected{{ end }} class="bg-earth-dark text-white font-normal">
        Libya 🇱🇾</option>
    <option value="Morocco" {{ if eq .Selected "Morocco" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Morocco 🇲🇦</option>
    <option value="Sudan" {{ if eq .Selected "Sudan" }}selected{{ end }} class="bg-earth-dark text-white font-normal">
        Sudan 🇸🇩</option>
    <option value="Tunisia" {{ if eq .Selected "Tunisia" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Tunisia 🇹🇳</option>
    <option value="Western Sahara" {{ if eq .Selected "Western Sahara" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Western Sahara</option>
</optgroup>
<optgroup label="East Africa" class="bg-earth-dark text-white font-bold">
    <option value="Burundi" {{ if eq .Selected "Burundi" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Burundi 🇧🇮</option>
    <option value="Comoros" {{ if eq .Selected "Comoros" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Comoros 🇰🇲</option>
    <option value="Djibouti" {{ if eq .Selected "Djibouti" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Djibouti 🇩🇯</option>
    <option value="Eritrea" {{ if eq .Selected "Eritrea" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Eritrea 🇪🇷</option>
    <option value="Ethiopia" {{ if eq .Selected "Ethiopia" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Ethiopia 🇪🇹</option>
    <option value="Kenya" {{ if eq .Selected "Kenya" }}selected{{ end }} class="bg-earth-dark text-white font-normal">
        Kenya 🇰🇪</option>
    <option value="Madagascar" {{ if eq .Selected "Madagascar" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Madagascar 🇲🇬</option>
    <option value="Malawi" {{ if eq .Selected "Malawi" }}selected{{ end }} class="bg-earth-dark text-white font-normal">
        Malawi 🇲🇼</option>
    <option value="Mauritius" {{ if eq .Selected "Mauritius" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Mauritius 🇲🇺</option>
    <option value="Mozambique" {{ if eq .Selected "Mozambique" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Mozambique 🇲🇿</option>
    <option value="Rwanda" {{ if eq .Selected "Rwanda" }}selected{{ end }} class="bg-earth-dark text-white font-normal">
        Rwanda 🇷🇼</option>
    <option value="Seychelles" {{ if eq .Selected "Seychelles" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Seychelles 🇸🇨</option>
    <option value="Somalia" {{ if eq .Selected "Somalia" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Somalia 🇸🇴</option>
    <option value="South Sudan" {{ if eq .Selected "South Sudan" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">South Sudan 🇸🇸</option>
    <option value="Tanzania" {{ if eq .Selected "Tanzania" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Tanzania 🇹🇿</option>
    <option value="Uganda" {{ if eq .Selected "Uganda" }}selected{{ end }} class="bg-earth-dark text-white font-normal">
        Uganda 🇺🇬</option>
    <option value="Zambia" {{ if eq .Selected "Zambia" }}selected{{ end }} class="bg-earth-dark text-white font-normal">
        Zambia 🇿🇲</option>
    <option value="Zimbabwe" {{ if eq .Selected "Zimbabwe" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Zimbabwe 🇿🇼</option>
</optgroup>
<optgroup label="Central Africa" class="bg-earth-dark text-white font-bold">
    <option value="Angola" {{ if eq .Selected "Angola" }}selected{{ end }} class="bg-earth-dark text-white font-normal">
        Angola 🇦🇴</option>
    <option value="Cameroon" {{ if eq .Selected "Cameroon" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Cameroon 🇨🇲</option>
    <option value="Central African Republic" {{ if eq .Selected "Central African Republic" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Central African Republic 🇨🇫</option>
    <option value="Chad" {{ if eq .Selected "Chad" }}selected{{ end }} class="bg-earth-dark text-white font-normal">Chad
        🇹🇩</option>
    <option value="Congo" {{ if eq .Selected "Congo" }}selected{{ end }} class="bg-earth-dark text-white font-normal">
        Congo 🇨🇬</option>
    <option value="Democratic Republic of the Congo" {{ if eq .Selected "Democratic Republic of the Congo" }}selected{{
        end }} class="bg-earth-dark text-white font-normal">DRC 🇨🇩</option>
    <option value="Equatorial Guinea" {{ if eq .Selected "Equatorial Guinea" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Equatorial Guinea 🇬🇶</option>
    <option value="Gabon" {{ if eq .Selected "Gabon" }}selected{{ end }} class="bg-earth-dark text-white font-normal">
        Gabon 🇬🇦</option>
    <option value="Sao Tome and Principe" {{ if eq .Selected "Sao Tome and Principe" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">São Tomé and Príncipe 🇸🇹</option>
</optgroup>
<optgroup label="Southern Africa" class="bg-earth-dark text-white font-bold">
    <option value="Botswana" {{ if eq .Selected "Botswana" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Botswana 🇧🇼</option>
    <option value="Eswatini" {{ if eq .Selected "Eswatini" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Eswatini 🇸🇿</option>
    <option value="Lesotho" {{ if eq .Selected "Lesotho" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Lesotho 🇱🇸</option>
    <option value="Namibia" {{ if eq .Selected "Namibia" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">Namibia 🇳🇦</option>
    <option value="South Africa" {{ if eq .Selected "South Africa" }}selected{{ end }}
        class="bg-earth-dark text-white font-normal">South Africa 🇿🇦</option>
</optgroup>
<option value="Other" {{ if eq .Selected "Other" }}selected{{ end }} class="bg-earth-dark text-white font-normal">Other
    🌍</option>
{{ end }}