{{ define "footer" }}
<footer class="footer-fruit py-16 text-center text-sm text-text-sub mt-auto">
    <div class="max-w-7xl mx-auto px-4">
        <div class="mb-8">
            <h2 class="font-serif text-2xl text-text-main mb-2"><a href="/auth/google/login">sign in to
                    ask or post</a></h2>
            <p class="text-text-sub font-medium max-w-md mx-auto">
            <ul>
                <li>find businesses</li>
                <li>find services</li>
                <li>find products</li>
                <li>find events</li>
                <li>find agbalumo</li>
                <li>from people like me</li>
            </ul>
            </p>
        </div>
        <div class="flex justify-center flex-wrap gap-x-8 gap-y-4 mb-8">
            <ul>
                <li><a href="/about"
                        class="hover:text-earth-accent transition-colors font-semibold text-text-main border-b-2 border-transparent hover:border-primary">about</a>
                </li>
                <li><a href="mailto:hello@agbalumo.com"
                        class="hover:text-earth-accent transition-colors font-medium">contact us</a></li>
            </ul>
        </div>
        <div class="pt-8 border-t border-white/10 flex flex-col items-center gap-4">
            <div class="flex gap-4">
                <span class="material-symbols-outlined text-earth-accent/40">language</span>
                <span class="material-symbols-outlined text-earth-accent/40">groups</span>
                <span class="material-symbols-outlined text-earth-accent/40">volunteer_activism</span>
            </div>
            <p class="text-text-sub/70 font-medium tracking-wide italic">"find what you want. Now. Sweet
                like
                agbalumo."</p>
            <p class="text-text-sub/50 text-xs mt-2">&copy; 2026 JadeCobra LLC. Made with 🍊 for Me.</p>
        </div>
    </div>
</footer>
{{ end }}