{{ define "home_listings_section" }}
<!-- Listings Container Section -->
<section class="min-h-screen py-24 px-4 md:px-8 relative z-30 bg-earth-dark">
    <div class="max-w-7xl mx-auto">

        <div class="mb-16">
            <h2 class="text-5xl md:text-6xl font-serif font-black text-white border-b-2 border-earth-clay/20 pb-4 mt-2">
                explore</h2>
        </div>

        <div id="listings-loading"
            class="htmx-indicator fixed inset-0 z-50 flex items-center justify-center bg-earth-dark/50 backdrop-blur-sm transition-all duration-300 opacity-0 pointer-events-none [&.htmx-request]:opacity-100 [&.htmx-request]:pointer-events-auto">
            <div class="animate-spin  h-12 w-12 border-b-2 border-earth-ochre"></div>
        </div>

        <div id="listings-container"
            class="grid grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6 auto-rows-[280px] md:auto-rows-[400px] grid-flow-dense transition-opacity duration-300">
            {{ range $i, $e := .Listings }}
            {{ $gridClass := "" }}

            {{ template "listing_card" dict "Listing" . "User" $.User "GridClass" $gridClass "Index" $i }}
            {{ end }}
        </div>

        <!-- Pagination Controls -->
        {{ template "pagination_controls" dict "Page" .Page "HasNextPage" .HasNextPage "Type" "" "Query" "" "OOB" false }}


    </div>
</section>
{{ end }}