{{ define "home_listings_section" }}
<!-- Listings Container Section -->
<section class="min-h-screen py-24 px-4 md:px-8 relative z-30 bg-earth-dark">
    <div class="max-w-7xl mx-auto">

        <div class="mb-16">
            <h2 class="text-5xl md:text-6xl font-serif font-black text-white border-b-2 border-earth-clay/20 pb-4 mt-2">
                explore</h2>
        </div>

        <div id="listings-loading"
            class="htmx-indicator fixed inset-0 z-50 flex items-center justify-center bg-earth-dark/50 backdrop-blur-sm transition-all duration-300 opacity-0 pointer-events-none [&.htmx-request]:opacity-100 [&.htmx-request]:pointer-events-auto">
            <div class="animate-spin  h-12 w-12 border-b-2 border-earth-ochre"></div>
        </div>

        <div id="listings-container"
            class="grid grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6 auto-rows-[280px] md:auto-rows-[400px] grid-flow-dense transition-opacity duration-300">
            {{ range $i, $e := .Listings }}
            {{ $gridClass := "" }}

            {{ template "listing_card" dict "Listing" . "User" $.User "GridClass" $gridClass "Index" $i }}
            {{ end }}
        </div>

        <!-- Pagination Controls -->
        <div class="flex justify-between items-center mt-16 pt-8 border-t border-earth-sand/10 px-4 w-full"
            id="pagination-controls">
            {{ if gt .Page 1 }}
            <button hx-get="/listings/fragment?page={{ sub .Page 1 }}" hx-target="#listings-container"
                hx-indicator="#listings-loading"
                class="text-earth-clay hover:text-earth-ochre font-bold uppercase tracking-widest text-[10px] md:text-xs flex items-center gap-2 transition-colors">
                <span class="material-symbols-outlined text-[16px]">arrow_back</span> Previous
            </button>
            {{ else }}
            <div></div>
            {{ end }}

            <div class="text-[10px] md:text-xs text-white/50 font-bold uppercase tracking-widest hidden sm:block">
                PAGE {{ .Page }}</div>

            {{ if .HasNextPage }}
            <button hx-get="/listings/fragment?page={{ add .Page 1 }}" hx-target="#listings-container"
                hx-indicator="#listings-loading"
                class="text-earth-clay hover:text-earth-ochre font-bold uppercase tracking-widest text-[10px] md:text-xs flex items-center gap-2 transition-colors">
                Next <span class="material-symbols-outlined text-[16px]">arrow_forward</span>
            </button>
            {{ else }}
            <div></div>
            {{ end }}
        </div>

    </div>
</section>
{{ end }}