@import "tailwindcss";
@config "../../../tailwind.config.js";

@layer base {
  body {
    @apply min-h-[100dvh];
  }
}

/* Custom Scrollbar Utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}